# Inspecting Time Zones in Stock Data

In this activity, you’ll load historical stock data from Tesla Motors (TSLA) to practice your `datetime` data transformation skills.

Instructions:

1. Read the Tesla historical stock data from the CSV file into a DataFrame.

2. Use the Pandas `head` function to inspect the data. Use the Pandas `info` function to check the data types of each column.

3. Convert the “time” column to the `datetime` data type by using the Pandas `to_datetime` function.

    > **Hint** Because the “time” column contains UTC `Timestamp` data, remember to set `utc=True`.

4. Use the Pandas `head` and `info` functions to verify the data type transformation and the time zone.

5. Convert the time zone to that of Berlin (`Europe/Berlin`), and verify the time zone transformation by using the Pandas `head` and `info` functions.


References:

[Pandas.to_datetime](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html)

[Pandas.dt.tz_convert](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.tz_convert.html)

[Python time zones](https://pvlib-python.readthedocs.io/en/stable/timetimezones.html)

In [1]:
# Import the required libraries and dependencies.
import pandas as pd
from path import Path

## Step 1: Read the Tesla historical stock data from the CSV file into a DataFrame.

In [2]:
# Read the data from the tsla_historical.csv file into a Pandas DataFrame
df_tsla = # YOUR CODE HERE

## Step 2. Use the Pandas `head` function to inspect the data. Use the Pandas `info` function to check the data types of each column.

In [3]:
# Display the first five rows of the DataFrame
# YOUR CODE HERE

                        time    close
0  2018-01-02 09:30:00-05:00  315.870
1  2018-01-02 09:45:00-05:00  317.500
2  2018-01-02 10:00:00-05:00  318.035
3  2018-01-02 10:15:00-05:00  317.470
4  2018-01-02 10:30:00-05:00  316.875

In [4]:
# Inspect the DataFrame's data types using the info function
# YOUR CODE HERE

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21279 entries, 0 to 21278
Data columns (total 2 columns):
time     21279 non-null object
close    21279 non-null float64
dtypes: float64(1), object(1)
memory usage: 332.6+ KB

## Step 3: Convert the “time” column to the `datetime` data type by using the Pandas `to_datetime` function.

> **Hint** Because the “time” column contains UTC `Timestamp` data, remember to set `utc=True`.

In [5]:
# Transform the time column to a datetime data type
df_tsla["time"] = # YOUR CODE HERE

## Step 4: Use the Pandas `head` and `info` functions to verify the data type transformation and the time zone

In [6]:
# Display the first five rows of the DataFrame to confirm
# changes to the time column
# YOUR CODE HERE

                       time    close
0 2018-01-02 14:30:00+00:00  315.870
1 2018-01-02 14:45:00+00:00  317.500
2 2018-01-02 15:00:00+00:00  318.035
3 2018-01-02 15:15:00+00:00  317.470
4 2018-01-02 15:30:00+00:00  316.875

In [7]:
# Use the info function to confirm the change in data type 
# for the time column
# YOUR CODE HERE

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21279 entries, 0 to 21278
Data columns (total 2 columns):
time     21279 non-null datetime64[ns, UTC]
close    21279 non-null float64
dtypes: datetime64[ns, UTC](1), float64(1)
memory usage: 332.6 KB

## Step 5: Convert the time zone to that of Berlin (`Europe/Berlin`), and verify the time zone transformation by using the Pandas `head` and `info` functions.

In [8]:
# Convert the time column to the Europe/Berlin timezone
df_tsla["time"] = # YOUR CODE HERE

In [9]:
# View the first five rows of the DataFrame to confirm the
# conversion of the time column
# YOUR CODE HERE

                       time    close
0 2018-01-02 15:30:00+01:00  315.870
1 2018-01-02 15:45:00+01:00  317.500
2 2018-01-02 16:00:00+01:00  318.035
3 2018-01-02 16:15:00+01:00  317.470
4 2018-01-02 16:30:00+01:00  316.875

In [10]:
# Use the info function to confirm the change in the time zone
# associated with the time column
# YOUR CODE HERE

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21279 entries, 0 to 21278
Data columns (total 2 columns):
time     21279 non-null datetime64[ns, Europe/Berlin]
close    21279 non-null float64
dtypes: datetime64[ns, Europe/Berlin](1), float64(1)
memory usage: 332.6 KB