# Gotta Catch em All: Listing the Strongest Pokemon

## 1. Import Libraries and Dependencies

In [1]:
# Import necessary libraries and dependencies

## 2. Set the File Path to the CSV using Pathlib

In [2]:
# Set the path of the Pokemon csv file to be loaded from the Resources folder.
# Define the path name as pokemon_path

## 3. Import the CSV into Pandas DataFrame

In [3]:
# Import the CSV into a Pandas DataFrame named `pokemon_df`

# Preview the DataFrame

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## 4. View Summary Statistics

In [4]:
# Use the describe function on pokemon_df to review general info on Total percentiles.

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

## 5. Create Bins for Total Ranking

In [5]:
# Create the variable bins to define our bounds for when we cut the dataframe.
# Bins are 0, 330, 450, 515, 600, 700, 800

# Create names for the bins
# group_names are "Very Weak", "Weak", "Moderate", "Strong", "Very Strong", "Over Powered"

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

## 6. Label Records According to the Corresponding Bin

In [6]:
# Add a column named "Total Ranking" to pokemon_df and slice the data into the bins

# Print out the first 10 rows of pokemon_df.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Ranking
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Very Weak
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Weak
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Strong
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Very Strong
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Very Weak
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,Weak
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,Strong
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,Very Strong
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,Very Strong
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,Very Weak

## 7. Set the Index to the DataFrame

In [7]:
# Set new index to Total Ranking

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Total Ranking,,,,,,,,,,,,,
Very Weak,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
Weak,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
Strong,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
Very Strong,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
Very Weak,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Strong,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
Very Strong,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
Strong,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
Very Strong,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
Strong,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

## 8. Filter Down to the Strongest Pokemon

In [8]:
# Set the variable overpowered_df to be the pokemon dataframe with Over Powered only.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Total Ranking,,,,,,,,,,,,,
Over Powered,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
Over Powered,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
Over Powered,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True
Over Powered,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
Over Powered,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
Over Powered,493,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,True