# Challenge

## Mapping Adventures

Creating the initial maps to help plan Harold's birthday was so fun, you've decided to delve a little deeper by also plotting parks, gardens and squares that your travel group may wish to visit. Putting too many map plots in one notebook might create a memory issue, so you've created this notebook to house your second batch of maps.

In [1]:
import pandas as pd
import plotly.express as px
import os
from pathlib import Path
from dotenv import load_dotenv

### Prep Mapbox API Credentials

In [2]:
# Set up API credentials
# Read the Mapbox API key
load_dotenv('api.env')
map_box_api = os.getenv("mapbox")

# Set the Mapbox API
px.set_mapbox_access_token(map_box_api)

### Read in data

In [3]:
# Read in data
places_of_interest = pd.read_csv(
    Path("../../Resources/nyc_places_interest.csv")
).dropna()
places_of_interest.head()

   Id  Longitude   Latitude                Name PlaceType Borough
0  90 -73.888958  40.896210  Van Cortlandt Park      Park   Bronx
1  95 -73.871651  40.889879   Woodlawn Cemetery  Cemetery   Bronx
2  81 -73.838642  40.886965    Seton Falls Park      Park   Bronx
3  69 -73.809802  40.877986     Pelham Bay Park      Park   Bronx
4   8 -73.878308  40.864424    Botanical Garden    Garden   Bronx

### Plot Data

#### Plot Parks that are of Interest

In [ ]:
# Slice and plot data by place type of park

#### Plot Gardens of Interest

In [ ]:
# Slice and plot data by place type of garden

#### Plot Squares of Interest

In [ ]:
# Slice and plot data by place type of square