# Student Do: Indexing Fever

# Indexing Fever

You've caught the multi-indexing fever! Add power to your financial analytic pipelines by indexing your data by month and year with a DatetimeIndex.

For this demo, you will use historical stock data from [Bombardier (BBD.B)](https://web.tmxmoney.com/quote.php?qm_symbol=BBD.B) that comprises `BBD.B` ticker prices from March to May 2019.

## Instructions

### Import Libraries and Dependencies

In [1]:
import pandas as pd
from pathlib import Path

### Read CSV as Pandas DataFrame

In [2]:
# Read csv data
csv_path = Path("../Resources/bombardier_stock_data.csv")

bbd_df = pd.read_csv(
    csv_path, parse_dates=True, index_col="Date", infer_datetime_format=True
)
bbd_df.head()

            Close
Date
2019-03-01   2.90
2019-03-04   2.92
2019-03-05   2.95
2019-03-06   2.83
2019-03-07   2.88

### Assess & Clean Data

In [3]:
# Check for nulls
bbd_df.isnull().mean() * 100

# Drop nulls
bbd_df = bbd_df.dropna().copy()

# Drop duplicates
bbd_df = bbd_df.drop_duplicates().copy()

# Validate no more missing values
bbd_df.isnull().sum()

Close    0
dtype: int64

### Group by `year` and `month`

In [4]:
# Set multi-index by grouping
bbd_df_grp = bbd_df.groupby([bbd_df.index.year, bbd_df.index.month]).first()
bbd_df_grp.head()

           Close
Date Date
2019 3      2.90
     4      2.68
     5      2.22

### Access `Close` for May 2019 Using Multi-indexing Lookup

In [5]:
# Select BBD Close for May 2019
bbd_may_2019_data = bbd_df_grp.loc[2019, 5]
bbd_may_2019_data

Close    2.22
Name: (2019, 5), dtype: float64

### Challenge

Take this activity to the next level by calculating the mean close price for `BBD.B` for all of `2019`.

In [6]:
bbd_mean_may_2019 = bbd_df_grp.loc[2019].mean()
bbd_mean_may_2019

Close    2.6
dtype: float64