# Categorizing Records in Pandas DataFrames

## 1. Import Libraries and Dependencies

In [14]:
# import the module pandas

## 2. Set the File Path to the CSV using Pathlib

In [15]:
# Use the Pathlib libary to set the path to the CSV

## 3. Import the CSV into Pandas DataFrame

In [16]:
# Use the file path to read the CSV into a DataFrame and display a few rows

,Person_ID,Last_Name,First_Name,Gender,University,Occupation,Salary,Email,Age
0,1,Lenormand,Keriann,Female,Aurora University,Nurse Practicioner,58135.0,klenormand0@businessinsider.com,27
1,2,Rupke,Huntley,Male,Osaka University of Economics,Project Manager,96053.0,hrupke1@reuters.com,22
2,3,Dalgarnowch,Gorden,Male,Ludong University,Environmental Tech,59196.0,gdalgarnowch2@microsoft.com,40
3,4,Unnamed,Cullie,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0,cputten3@nymag.com,62
4,5,Strangman,Ariel,Female,Boise State University,Project Manager,89073.0,astrangman4@bravesites.com,47

## 4. Create Bins for Total Ranking

In [17]:
# Create the variable bins to define our bounds for when we cut the dataframe.


# Create names for the bins

## 5. Label Records According to the Corresponding Bin

In [19]:
# Add a column named "Salary Level" to people_df and slice the data into the bins

,Person_ID,Last_Name,First_Name,Gender,University,Occupation,Salary,Email,Age,Salary Level
0,1,Lenormand,Keriann,Female,Aurora University,Nurse Practicioner,58135.0,klenormand0@businessinsider.com,27,Moderate
1,2,Rupke,Huntley,Male,Osaka University of Economics,Project Manager,96053.0,hrupke1@reuters.com,22,Above Average
2,3,Dalgarnowch,Gorden,Male,Ludong University,Environmental Tech,59196.0,gdalgarnowch2@microsoft.com,40,Moderate
3,4,Unnamed,Cullie,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0,cputten3@nymag.com,62,Above Average
4,5,Strangman,Ariel,Female,Boise State University,Project Manager,89073.0,astrangman4@bravesites.com,47,Above Average